*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.cont{
    width: 800px;
    height: 400px;
    margin: 20px;
}
.title{
    font-weight: normal;
    margin: 0;
    
}